:root {
  --outside-bg:       darkgrey;

  --main-bg:          white;
  --main-text:        black;
  --main-border:      black;
  
  --highlight-bg:     lightgrey;
  --highlight-text:   black;
  --highlight-border: grey;
}

html {
  background: var(--outside-bg);
}
body {
  max-width:  800px;
  margin:     1em auto;

  border:     1px solid var(--main-border);
  background: var(--main-bg);
  color:      var(--main-text);
}
header {
  border-bottom: 1px solid var(--highlight-border);
  min-height: 2em;
  text-align: center;
  background: var(--highlight-bg);
  color:      var(--highlight-text);
}
h1 {
  padding:    0.25em 1em;
  margin:     0;
}
footer {
  border-top: 1px solid var(--highlight-border);
  font-size:  80%;
  min-height: 2em;
  text-align: center;
  background: var(--highlight-bg);
  color:      var(--highlight-text);
}

/* default styles for stuff: */
main {
  max-width:  400px;
  margin:     auto;
}
div.formRow, div.checkboxRow {
  margin:     0.1em 0.75em;
  text-align: right;
}
div.formRow label {
  display:    inline-block;
  width:      calc(50% - 2em);
}
div.formRow input {
  width:      calc(50% - 2em);
}
div.formRow input.checked {
  border:     1px solid green;
}
div.formRow input.checked:after {
  color:      green;
  content:    'OK';
}
div.formRow input.error {
  border:     1px solid red;
}
div.formRow input.error:after {
  color:      red;
  content:    'err';
}
div.formRow#shareRow label {
  display:    inline-block;
  width:      300px;
  text-align: left;
}
div.formRow#shareRow textarea {
  width:      300px;
}
div.checkboxRow label {
  display:    inline-block;
  text-align: left;
  width:      calc(50% - 2em);
}
div.formFoot {
  text-align: right;
  margin:     0.1em 0.75em;
}
div#platformRow {
  font-size:  80%;
  text-align: right;
}
div#platformRow span.platform {
  border:         1px solid var(--highlight-border);
  border-radius:  0.25em;
  padding:        0.1em 0.25em;
  font-family:    sans-serif;
}
div#platformRow .unsupported {
  width:      calc(80% - 2em);
  text-align: left;
  display:    inline-block;
  padding:    0.25em;
  border:     1px solid red;
}
/*div#platformRow span.platform-mastodon {
  padding-right:        1.5em;
  background-image:     url('./mastodon.svg');
}*/


/* portrait style overrides for phones etc */
@media only screen 
  /*  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) */
  and (orientation: portrait) {
  div.formRow {
    text-align: left;
  }
  div.formRow label {
    display: block;
    width: calc(100% - 1.5em);
    max-width: 400px;
    margin: 0 0.75em;
  }
  div.formRow input {
    width: calc(100% - 1.5em);
    max-width: 400px;
    margin: 0 0.75em;
  }
}
